In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from scipy import stats

In [ ]:
data = pd.read_csv("diamonds_new.csv")

In [ ]:
data.head()

   carat      cut color clarity  table     x     y     z  price_new
0   0.23    Ideal     E     SI2   55.0  3.95  3.98  2.43      163.0
1   0.21  Premium     E     SI1   61.0  3.89  3.84  2.31      163.0
2   0.23     Good     E     VS1   65.0  4.05  4.07  2.31      163.5
3   0.29  Premium     I     VS2   58.0  4.20  4.23  2.63      167.0
4   0.31     Good     J     SI2   58.0  4.34  4.35  2.75      167.5

In [ ]:
data.shape

(53940, 9)

In [ ]:
print(data.isnull().sum())
df = data.fillna(data.mean())
print(df.isnull().sum())

carat        99
cut           0
color        56
clarity       0
table        63
x             0
y             0
z             0
price_new     0
dtype: int64
carat         0
cut           0
color        56
clarity       0
table         0
x             0
y             0
z             0
price_new     0
dtype: int64

<ipython-input-6-a7b59a703073>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = data.fillna(data.mean())

In [ ]:
cat_cols = data.select_dtypes(include=['object']).columns
data = data.drop(cat_cols, axis=1)
z_scores = np.abs(stats.zscore(data))
threshold = 3
outliers_mask = (z_scores > threshold).any(axis=1)
df_no_outliers = data[~outliers_mask]
print(df_no_outliers.head())

   carat  table     x     y     z  price_new
0   0.23   55.0  3.95  3.98  2.43      163.0
1   0.21   61.0  3.89  3.84  2.31      163.0
2   0.23   65.0  4.05  4.07  2.31      163.5
3   0.29   58.0  4.20  4.23  2.63      167.0
4   0.31   58.0  4.34  4.35  2.75      167.5

In [ ]:
from sklearn.preprocessing import LabelEncoder
data = pd.read_csv('diamonds_new.csv')
if 'color' in data.columns:
    data.rename(columns={'color': 'Color'}, inplace=True)
elif 'Color' not in data.columns:
    print("Column 'color' or 'Color' not found in the DataFrame.")
if 'Color' in data.columns:
    le = LabelEncoder()
    data['Color'] = le.fit_transform(data['Color'])
else:
    print("Column 'Color' not found in the DataFrame.")

print(data.head())

   carat      cut  Color clarity  table     x     y     z  price_new
0   0.23    Ideal      1     SI2   55.0  3.95  3.98  2.43      163.0
1   0.21  Premium      1     SI1   61.0  3.89  3.84  2.31      163.0
2   0.23     Good      1     VS1   65.0  4.05  4.07  2.31      163.5
3   0.29  Premium      5     VS2   58.0  4.20  4.23  2.63      167.0
4   0.31     Good      6     SI2   58.0  4.34  4.35  2.75      167.5

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
columns_to_scale = ['carat', 'depth', 'table', 'price', 'x', 'y', 'z']
for column in columns_to_scale:
    if column in data.columns:
        data[column] = scaler.fit_transform(data[[column]])
    else:
        print(f"Column '{column}' not found in the DataFrame.")

Column 'depth' not found in the DataFrame.
Column 'price' not found in the DataFrame.